extends layout

block head
  script(src="/js/jquery.min.js")
  script(src="/js/moment.min.js")
  script(src="/js/fullcalendar.js")
  script(type="text/javascript").
    $(function() {
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            defaultDate: '2014-09-12',
            editable: true,
            eventLimit: true, // allow "more" link when too many events
            events: !{events}
        });
    });
  link(rel='stylesheet', href='/css/fullcalendar.css')

block content
  p #{username}
  div(id="calendar")