extends layout

block head
  link(rel='stylesheet', href='/css/bootstrap.flatly.min.css')
  script(src="/js/jquery.min.js")
  script(src="/js/moment.min.js")
  script(src="/js/fullcalendar.js")
  script(src="/js/cal.js")
  script(src="/js/cookiesHelper.js")
  script(type="text/javascript").
    $(function() {
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            editable: true,
            eventLimit: true // allow "more" link when too many events
        });
    });
  link(rel='stylesheet', href='/css/fullcalendar.css')
  link(rel='stylesheet', href='/css/ocal.css')

block content
  div(class="navbar navbar-default navbar-fixed-top" role="navigation")
    div(class="container-fluid")
      div(class="navbar-header")
        a(class="navbar-brand" href="") oCal
        h4(class="navbar-text") A better outlook for calendar sharing.
  div(class="container-fluid")
    div(class="row")
      div(class="col-sm-3 col-md-2 sidebar")
        input(type="text" id="firstname" class="form-control nameinput" placeholder="First Name")
        br
        input(type="text" id="lastname" class="form-control nameinput" placeholder="Last Name")
        br
        input(type="radio" name="extension" value="student" checked) 
        |  @students.olin.edu
        br
        input(type="radio" name="extension" value="other")
        |  @olin.edu
        br
        br
        button(type="button" class="btn btn-success" id="submit") Get Calendar
        br
        br
        input(type="text" id="username" class="form-control nameinput" placeholder="Username")
        br
        input(type="password" id="password" class="form-control nameinput" placeholder="Password")
        br
        button(type="button" class="btn btn-success" id="login") Login
        button(type="button" class="btn btn-failure" id="logout" style="display: none;") Logout
      div(class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2" id="calendar")